@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/100.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/200.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/300.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/500.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/600.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/700.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'IBM Plex Sans Condensed';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/gkckt/Desktop/minjeff257.github.io/fonts/IBM Plex Sans Condensed/700italic.ttf') format('truetype');
}
